<div class="community-content">
  <mat-toolbar-row class="community-toolbar">
    <button mat-raised-button class="go-back-btn" (click)="onGoBackClicked()"><-</button>
    <span class="spacer-1"></span>
    <div>
      <h2>{{community.name}}</h2>
      <span>{{community.posts.length}} posts</span>
    </div>
  </mat-toolbar-row>
  <div class="community-img">
    <img [src]="community.image" [alt]="community.name">
  </div>
  <div class="community-header">
    <div class="community-info">
      <span>{{community.name}}</span>
      <span class="spacer-2"></span>
      <button mat-button>View Members</button>
      <button mat-button (click)="onJoinClicked()" (mouseenter)="hoveringJoinBtn = true" (mouseleave)="hoveringJoinBtn = false">
        {{alreadyJoined ? (hoveringJoinBtn ? "Leave" : "Joined") : "Join"}}
      </button>
    </div>
    <div class="community-description">
      {{community.description}}
    </div>
  </div>
  <div style="display: flex; border-bottom: 0.1vw solid #333840">
    <div class="posts-btn" [ngClass]="{'active': isPostsBtnActive}">
      <div>
        <div>Posts</div>
        @if (isPostsBtnActive) {
          <div class="underline"></div>
        }
      </div>
    </div>
  </div>
  <div class="community-posts">
    @if (alreadyJoined){
      <button mat-raised-button class="post-btn" (click)="isPostFormVisible = true">Add a new post</button>
    }
    <app-community-post-list [posts]="posts"/>
  </div>
</div>

@if (isPostFormVisible){
  <app-post-create-and-edit [post]="newPost"
                            [editMode]="isEditMode"
                            (cancel)="onCancelClicked()"
                            (add)="onPostAddRequested()"
                            (update)="onPostUpdateRequested()"/>
}
