<div class="lolazo">
  <mat-toolbar class="toolbar" *ngIf="showToolbar">
    <div class="logo-section">
      <img src="https://the-rumbling.github.io/StayMap-Landing_Page/starymaplogo.png" alt="Logo" class="logo" />
    </div>
    <nav class="nav-links">
      <a *ngFor="let option of options"
         [routerLink]="option.link"
         routerLinkActive="active"
         class="nav-link">
        {{ option.label }}
      </a>
    </nav>
    <div style="padding-top: 20px;">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="searchInput" (ngModelChange)="onSearchInput($event)"/>
        <button mat-icon-button matSuffix>
        </button>
      </mat-form-field>
    </div>
    @if (!isLoggedIn){
      <div style="padding-left: 15px; background: #CB6CE6; border-radius: 4rem">
        <button mat-raised-button class="login-button" [routerLink]="['/login']">Log in</button>
      </div>
    } @else {
      <button mat-raised-button [routerLink]="['/profile']">
        <img class="user-profile-image" [alt]="currentUser.name" [src]="currentUser.profileImage"/>
      </button>
    }
  </mat-toolbar>
</div>
<main class="main-content">
  <router-outlet></router-outlet>
</main>
