<div class="container">
  <div class="sidebar">
    @for (concert of concerts; track concert.id){
      <div class="card" (click)="openConcertInfo(concert)">
        <h3>{{ concert.artist.name }}</h3>
        <p>{{ concert.venue.name }} - {{ concert.date }}</p>
        <p [ngClass]="{'sold-out': concert.status === 'Sold out', 'available': concert.status === 'Available'}">
          {{ concert.status }}
        </p>
      </div>
    }
  </div>
  <div class="map-section">
    <h1>Find concerts <span class="highlighted-lbl">nearby</span></h1>
    <google-map
      height="94.5%"
      width="100%"
      [center]="center"
      [zoom]="zoom"
      [options]="mapOptions">
      <map-marker *ngIf="this.currentUser.location.lat !== 0 && this.showUserMarker"
                  [position]="this.currentUser.location"
                  [icon]="this.userIcon">
      </map-marker>
      @for (concert of concerts; track concert.id){
        <map-marker
          [position]="concert.venue.location"
          [icon]="this.customIcon"
          #marker="mapMarker"
          (mapClick)="openConcertInfo(concert)"/>
      }
      <map-info-window class="concert-details" (closeclick)="onCloseConcertInfo()">
        <div>
          <h3>{{ this.concertSelected.artist.name }}</h3>
          <p>{{ this.concertSelected.venue.name }} - {{ this.concertSelected.date }}</p>
        </div>
      </map-info-window>
    </google-map>
  </div>
</div>
